
.header
  background-color: #EDEDED
  width: 50%
  margin-left: 25%
  padding: 30px
  text-align: left
  input 
    height: 80%
    font-size: 12px
  .find-fields
    display: flex
    *
      padding-right: 10px
